Source: vt-fitness
Section: unknown
Priority: optional
Maintainer: GUO-HAO LI <gene@verdigris.co>
Build-Depends: debhelper (>= 8.0.0)
Package: vt-firmware-pack
Architecture: all
Depends: jq
Description: Verdigris firmware-pack
Version: Overriden by Makefile

